<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="mystyle.css">
<link rel="stylesheet" type="text/css" href="centarReg.css">
<style>
.slika{
position: absolute;
top: 10%;
left: 40%;
transform: translate(-50%, -10%);
}
</style>
</head>
<body>
<div align="center">
<div id="demo0" width="50%" >
    <img  src="<?php echo base_url().'media/images/logo.png' ?>" width=50% height=45% >
	</div>
<div class="centerReg">
	<button class="fill" onclick="window.location.href = 'LogIn.html';">PLAY</button>
	<button class="fill" onclick="window.location.href = 'Guest.html';">PLAY AS GUEST</button>
	
</div>
</div>


</body>
</html>
